@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Mauline";
    font-style: normal;
    font-weight: 400;
    src:
        local("Mauline"),
        url("https://fonts.cdnfonts.com/s/101830/mauline.woff") format("woff");
}
@layer base {
    :root {
        --background: 140 100% 100%;
        --foreground: 140 5% 10%;
        --card: 140 50% 100%;
        --card-foreground: 140 5% 15%;
        --popover: 140 100% 100%;
        --popover-foreground: 140 100% 10%;
        --primary: 140 52.7% 43.1%;
        --primary-foreground: 0 0% 100%;
        --secondary: 140 30% 90%;
        --secondary-foreground: 0 0% 0%;
        --muted: 102 30% 95%;
        --muted-foreground: 140 5% 40%;
        --accent: 102 30% 90%;
        --accent-foreground: 140 5% 15%;
        --destructive: 0 100% 50%;
        --destructive-foreground: 140 5% 100%;
        --border: 140 30% 82%;
        --input: 140 30% 50%;
        --ring: 140 52.7% 43.1%;
        --radius: 0.75rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --sidebar-background: 140 100% 100%;
        --sidebar-foreground: 140 5% 10%;
        --sidebar-primary: 140 52.7% 43.1%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 102 30% 90%;
        --sidebar-accent-foreground: 140 5% 15%;
        --sidebar-border: 140 30% 82%;
        --sidebar-ring: 140 52.7% 43.1%;
    }
    .dark {
        --background: 140 50% 10%;
        --foreground: 140 5% 100%;
        --card: 140 50% 10%;
        --card-foreground: 140 5% 100%;
        --popover: 140 50% 5%;
        --popover-foreground: 140 5% 100%;
        --primary: 140 52.7% 43.1%;
        --primary-foreground: 0 0% 100%;
        --secondary: 140 30% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: 102 30% 25%;
        --muted-foreground: 140 5% 65%;
        --accent: 102 30% 25%;
        --accent-foreground: 140 5% 95%;
        --destructive: 0 100% 50%;
        --destructive-foreground: 140 5% 100%;
        --border: 140 30% 50%;
        --input: 140 30% 50%;
        --ring: 140 52.7% 43.1%;
        --radius: 0.75rem;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --sidebar-background: 140 50% 10%;
        --sidebar-foreground: 140 5% 100%;
        --sidebar-primary: 140 52.7% 43.1%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 102 30% 25%;
        --sidebar-accent-foreground: 140 5% 95%;
        --sidebar-border: 140 30% 50%;
        --sidebar-ring: 140 52.7% 43.1%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            "rlig" 1,
            "calt" 1;
    }
}

.text-title {
    color: #4f0d25;
}

/* @media (prefers-color-scheme: dark) {
  .text-title {
    color: #effd72;
  }
} */
